#exp {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 12px rgba(90, 96, 234, 0.1);
    border-radius: 15px;
}

#exp a {
    border-radius: 50px;
    width: max-content;
    background-color: #ff6dcd;
    border: 1px solid #ff6dcd;
}

#exp a:hover {
    background-color: #45dfcd;
    border: 1px solid #45dfcd;
}

#exp h2 {
    font-family: 'Berkshire Swash', cursive;
}

#exp h2 span,
#exp .date {
    font-family: 'Montserrat', sans-serif;
    color: #515050;
}

@media (max-width: 500px) {
    #exp a {
        width: 90%;
        font-size: 18px !important;
    }
}
