.sticky-nav {
    transition: all 0.3s ease-in-out;
}
.navbar {
    background: rgba(255, 255, 255, 0.54);
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.navbar.sticky {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 90%;
    transform: translateX(5%);
    transition: all 0.3s ease-in-out;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(../../assets/img/toggler.svg);
    background-size: auto;
    width: 1em;
    height: 1em;
}

.navbar h1 {
    font-family: 'Berkshire Swash', cursive;
}

.navbar a {
    letter-spacing: 0.04em;
    color: #515050;
    font-weight: 500;
}

.navbar a.active {
    color: #fff;
    font-weight: 600;
    backdrop-filter: blur(20px);
}

.navbar .home.active {
    background: rgba(255, 160, 42, 0.8);
    border: 1px solid #ffa02a;
}

.navbar .projects.active {
    background: rgba(255, 109, 205, 0.8);
    border: 1px solid #ff6dcd;
}

.navbar .api.active {
    background: rgba(69, 223, 205, 0.8);
    border: 1px solid #45dfcd;
}
